* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-color: #090;
}

html {
    scroll-behavior: smooth;
}
header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    height: 70px;
    padding: 15px;
}

a {
    color: white;
    text-decoration: none;
}

#logo {
    font-weight: bold;
    font-size: 1.5em;
}

#nav {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 50px);
}


#menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}

#menu a {
    padding: 10px;
}

#menu a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


#btn-mobile {
    display: none;
}

#redes-sociais {
    width: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 35px;
}


