* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-color: #090;
    --second-color: black;
}

html {
    scroll-behavior: smooth;
    
}
header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
    height: 70px;
    padding: 15px;
    border-bottom: 10px solid var(--main-color);
}

a {
    color: white;
    text-decoration: none;
}

#logo {
    font-weight: bold;
    font-size: 1.5em;
}

#menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 10px;
}

#menu a {
    padding: 10px;
}

#menu a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}


#btn-mobile {
    display: none;
}

.logo {
    width: 35px;
}

main {
    box-sizing: border-box;
    padding: 10px;
}

section#inicio {
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 80px);
    margin: auto;
    padding: 10px;
}

div#foto {
    background-color: gray;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.apt {
    font-weight: bold;
    font-size: 1.8em;
}

p#nome {
    font-size: 3em;
    font-weight: bold;
}

div#redes-sociais {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer {
    padding: 10px;
    text-align: center;
}


