@charset "UTF-8";
/* 
   {TYPICAL DEVICE BREAK-POINS}
---------------------------------
pequenas telas: até 600px
celular: 600px até 768px
tablet: 768px até 1024px
desktop: 1024px até 1440px
grandes telas: acima de 1440px
*/

:root {
    --color1: #27B2DB;
    --color2: #f35656;
    --color3: #0f0f0f;
    --font1: 'Roboto';
    --font2: 'Black Ops One', cursive;
}

@media screen and (max-width: 768px) { /*Celular*/
    body {
        scroll-behavior: smooth;
        overflow: hidden;
    }
    #header {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        background-color: rgba(255, 255, 255);
        width: 100vw;
        height: 60px;
        margin: 0;
        padding: 10px;
        border: none;
        border-radius: 10px 10px 0px 0px;
        backdrop-filter: blur(0px);
    }

    #header.container {
        gap: 0px;
    }

    #logo img {
        display: none;
    }

    #btn-mobile {
        display: none;
        font-size: 40px;
    }

    nav {
        width: 100%;
        height: 100%;
    }

    #nav-list {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    li, .btnNav {
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: center;
    }
    
    .btnNav span {
        font-size: 40px;
        color: black;

    }
    
    .btnNav:active {
        border-bottom: none;
    }

    main {
        position: relative;
        height: calc(100vh - 60px);
        z-index: 1;
        overflow: auto;
    }

    #inicio {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 60px);
    }

    #inicio #painel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 0px;
        background-color: rgba(255, 255, 255, 0.9);
        color: #FFA11B;
        width: 260px;
        height: 70px;
        padding: 5px 5px 5px 50px;
        border-radius: 10px;
        font-size: 40px;
        font-weight: bold;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    #inicio #painel #timer {
        font-family: var(--font2);
        font-weight: 400;
    }

    #inicio #painel #btnThemeMode {
        font-size: 40px;
        border-radius: 50%;
        padding: 5px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2),
                    inset 0px 0px 10px rgba(255, 255, 255, 0.2);
    }

    #inicio #imagem {
        background-color: white;
        width: 240px;
        height: 240px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    #inicio h1 {
        color: white;
        font-size: 30px;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    #inicio #resumo {
        width: 240px;
        color: white;
        text-align: justify;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        font-size: 1.1em;
    }

    #inicio #skills {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }

    #inicio #skills .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: var(--color2);
        width: 80px;
        height: 80px;
        border: 2px solid var(--color2);
        border-radius: 10px;
        font-size: 70px;
    }

    #sobre-mim {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    #sobre-mim #descricao {
        background-color: rgb(255, 255, 255);
        width: 90vw;
        padding: 10px;
        border-radius: 10px;
        text-align: justify;
        text-indent: 2em;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    #sobre-mim #redes-sociais {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
    }

    #sobre-mim #redes-sociais a {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #sobre-mim #redes-sociais .btnRedes {
        background-color: transparent;
        color: var(--color2);
        width: 120px;
        height: 40px;
        border: 2px solid var(--color2);
        border-radius: 10px;
        font-size: 1.2em;
        font-weight: bold;

    }

    #sobre-mim #redes-sociais .btnRedes:active {
        background-color: var(--color2);
        color: white;
    }

    #projetos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        width: 100vw;
        padding: 10px;
    }

    #projetos .projeto {
        display: flex;
        justify-content: center;
        align-items: end;
        background-image: url("../img/background-project-default.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 90vw;
        height: 550px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }

    #projetos .projeto #projeto_conteudo {
        width: 100%;
        height: 200px;
    }

    .projeto #projeto_conteudo h1 {
        color: white;
        text-align: center;
        font-size: 1.8em;
    }

    .projeto #projeto_conteudo .tecnologias {
        display: flex;
        justify-content: space-around;
        color: white;
        width: 100%;
        padding: 10px;
        font-size: 60px;
    }

    .projeto #projeto_conteudo .projeto_actions {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 40%;
    }

    .projeto_actions button {
        display: flex;
        align-items: center;
        background-color: transparent;
        width: 120px;
        height: 50px;
        border-radius: 10px;
        font-size: 24px;
        font-weight: bold;
    }

    .projeto_abrir {
        background-color: transparent;
        color: var(--color1);
        padding-left: 20px;
        border: 2px solid var(--color1);
    }

    .projeto_actions span {
        font-size: 32px;

    }

}
