@charset "UTF-8";
/* 
   {TYPICAL DEVICE BREAK-POINS}
---------------------------------
pequenas telas: até 600px
celular: 600px até 768px
tablet: 768px até 1024px
desktop: 1024px até 1440px
grandes telas: acima de 1440px
*/
