@charset "UTF-8";
/* 
   {TYPICAL DEVICE BREAK-POINS}
---------------------------------
pequenas telas: até 600px
celular: 600px até 768px
tablet: 768px até 1024px
desktop: 1024px até 1440px
grandes telas: acima de 1440px
*/

:root {
    --color1: #27B2DB;
    --color2: #F39056;
    --color3: black;
    --font1: 'Roboto';
    --font2: 'Press Start 2P';
}

@media screen and (max-width: 768px) { /*Celular*/
    #header {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, .8);
        width: 100vw;
        height: 60px;
        border: none;
        border-radius: 0;
        padding: 10px;
        backdrop-filter: blur(0px);
    }

    #logo img {
        display: none;
    }

    #btn-mobile {
        display: block;
        font-size: 40px;
    }

    #nav-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 60px;
        right: 0px;
        background-color: rgba(0, 0, 0, .8);
        height: 0px;
        width: 100%;
        font-size: 32px;
        border-radius: 10px 10px 0px 0px;
        transition: .3s ease-out;
        overflow: hidden;

    }

    li, .navLinks {
        display: block;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .navLinks {
        opacity: 0;
        transform: translateY(20px);
        transition: .5s ease-out;
    }
    
    .navLinks:hover {
        border-bottom: none;
    }
    
    #nav-list.active {
        height: 50px;
        width: 100%;
        z-index: 10;
    }
    
    #nav-list.active .navLinks {
        transform: translateY(0);
        opacity: 1;
    }

    main {
        position: relative;
        height: calc(100vh - 60px);
        z-index: 1;
    }

    .screen {
        background-color: var(--color3);
        width: 100vw;
        height: calc(100vh - 60px);
        border: 0;
        border-radius: 0;
        backdrop-filter: blur(0px);
    }

    .screen .screen-header {
        display: flex;
        justify-content: center;
        height: 8vh;
        font-size: 24px;
    }

    .screen-header .screen-controls {
        display: none;
    }

    #inicio .sidebar {
        width: 100vw;
        padding: 0px;
    }

    #inicio .conteudo {
        display: none;
    }
    #sobre-mim {
        overflow-y: auto;
    }

    #sobre-mim #imagem img {
        height: 60vh;
    }

    #sobre-mim .conteudo {
        flex-direction: column;
    }
}
