* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-color: #090;
}
/*
:target {
    scroll-margin-top: .8em;
}
*/

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: end;
    align-content: center;
    background-color: var(--main-color);
    height: 40px;
    padding: 15px;
}

div#redes-sociais {
    display: inline-block;
    align-items: center;
}

span#btn-hamburger {
    font-size: 40px;
    color: white;
}

menu#menu {
    display: none;
}

menu#mobile-menu {
    display: none;
    
}

menu#mobile-menu > ul > li {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    text-align: center;
}

menu#mobile-menu > ul > li > a {
    color: white;
    text-decoration: none;
}

.logo {
    width: 40px;
    margin-right: 15px;
}
p {
    text-align: justify;
}