* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --main-color: #004385;
}

header {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: end;
    align-content: center;
    background-color: var(--main-color);
    padding: 10px;
}

span#btn-hamburger {
    font-size: 30px;
    color: white;
}

menu#menu {
    display: none;
}

menu#mobile-menu > ul > li {
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    text-align: center;
}

div#redes-sociais {
    display: inline-block;
}

.logo {
    width: 30px;
    margin-right: 10px;
}
p {
    text-align: justify;
}